.container-board{
    display: grid;
    grid-row-gap: 5%;
    margin: 30px;
}
.container-header-board{ position: relative;}
.header-board{
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
    align-items: center;
}
.collaborators{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    display: flex;
    margin:3px;
    cursor: pointer;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
.show-menu{
    background-color: #DDDDDD;
}
.point-container{
    display: inline;
    margin-right: 1em;
}
.button-add-collaboarators{
    display: flex;
    background-color: #2F80ED;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 3px;
    margin-left: 1.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}