:root {
  --primary: '#2F80ED';
  --secundary: '#DAE4FD';
  --color-dark: '#000000';
  --color-white: #ffffff;
  --bg-color-white: #eeeeee;
}
.bg-primary {
  background-color: #2f89fc;
}
.bg-white {
  background-color: #ffffff;
}
.color-white {
  color: white;
}
.color-dark {
  color: #000000;
}
